@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #00d9ff;
  font-family: "Audiowide", sans-serif;
}

body .app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: auto;
  width: 85vw;
}

body .app header {
  background: #2dff7d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

body .app .lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body .app .lists .cvr {
  border-left: 2px dashed #9500f8;
  border-right: 2px dashed red;
}

body .app .lists .tablo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  min-width: 150px;
  max-width: 310px;
  height: 630px;
  margin: 25px auto;
}

body .app .lists .tablo .head {
  border-bottom: 2px dashed #fd0076;
  width: 100%;
  padding: 14px 20px;
  margin: auto;
  font-size: 15px;
}

body .app .lists .tablo .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 8px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

body .app .lists .tablo .list .list-item {
  background-color: #fff;
  border-radius: 8px;
  margin: 6px 15px;
}

body .app .lists .tablo .list .list-item .hd {
  border-bottom: 2px solid #ffc400;
  font-weight: 900;
  margin: 10px;
  margin-bottom: 0;
  padding-left: 7px;
  padding-bottom: 3px;
}

body .app .lists .tablo .list .list-item .acikla {
  white-space: normal;
  height: 85px;
  overflow: auto;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  margin: 10px;
  margin-top: 0;
  padding-left: 7px;
  padding-bottom: 3px;
}

body .app .lists .tablo .list .list-item .date {
  display: list-item;
  font-style: italic;
  font-family: system-ui;
  text-align: right;
  padding-right: 10px;
  height: 23px;
}

body .app .lists .ekle {
  background-color: #7979c2;
  width: 95%;
  margin: 25px 5px;
}

body .app .lists .ekle label {
  display: list-item;
  font-size: 35px;
  height: 45px;
  text-align: center;
}

body .app .lists .ekle .form-control {
  display: block;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 80%;
  padding: 8px;
  padding-left: 15px;
  margin: auto;
  margin-bottom: 5px;
  -webkit-transition: -webkit-box-shadow 100ms;
  transition: -webkit-box-shadow 100ms;
  transition: box-shadow 100ms;
  transition: box-shadow 100ms, -webkit-box-shadow 100ms;
  outline: none;
}

body .app .lists .ekle #acikla {
  resize: none;
}

body .app .lists .ekle .btn1 {
  width: 80%;
  margin: 5px 25px;
  padding: 6px 25px;
  border-width: 3px;
  border-style: solid;
  border-color: #a8a1a1;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

body .app .lists .copluk {
  border: 1px solid black;
  background: url("../img/kapalıCop1.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 90%;
  height: 250px;
  margin: 5px 5px;
}
/*# sourceMappingURL=style.css.map */